---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../components/icons/Linkedin.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailSendIcon from '../components/icons/MailSend.astro';
import BriefcaseIcon from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Projects from '../components/Projects.astro';
---

<Layout 
	title="Porfolio de Althdev - Desarrollador y Programador Web"
	description="Contrata a althdev para crear tu aplicacion web"
>
	<main class="px-4">
		<SectionContainer class="pt-44 pb-32">

			<img 
				class="rounded-full size-12 mb-4"
				src="https://avatars.githubusercontent.com/u/80772336?v=4&size=64" 
				alt="alth-dev photo">

			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, soy Pablo <a href="https://linkedin.com/in/pablo-elias-lópez-marcano-114345208" target="_blank" class="flex justify-center items-center mt-2">
					<Badge>Disponible para trabajar</Badge>
				</a> 
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[500px]">
				<span>+2 años de experiencia.</span> <span
				class="text-yellow-200/90">Desarrolador Web y Tecnico en Informatica.</span> De 
				Caracas, Venezuela. Especializado en Crear Paginas Web Estables y Confiables
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">

				<SocialPill href="https://linkedin.com/in/pablo-elias-lópez-marcano-114345208" >
					<LinkedInIcon class="size-4 lg:size-6" />
					LinkedIn
				</SocialPill>

				<SocialPill href="https://github.com/Althalost" >
					<GitHubIcon class="size-4 lg:size-6" />
					GitHub
				</SocialPill>

				<SocialPill href="https://github.com/Althalost" >
					<MailSendIcon class="size-4 lg:size-6" />
					pablolopez@gmail.com
				</SocialPill>

			</nav>
					

		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="text-4xl font-semibold mb-6 flex gap-x-3 items-center">
				<BriefcaseIcon class="size-8" />
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="projects">
			<h2 class="text-4xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-8" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

	</main>
</Layout>