<div class="flex items-center ">
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#C352E5_0%,#21554E_50%,#C352E5_100%)]"
    ></span>
    <div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-white bg-sky-600/90 rounded-full cursor-pointer backdrop-blur-2xl whitespace-nowrap">
      <span class="inline-block w-2.5 h-2.5 bg-cyan-400 mr-2 rounded-full shadow shadow-cyan-500"></span>
      <slot />
    </div>
  </span>
  </div>

