<span
    class="bg-gradient-to-r from-green-400/40 via-green-100 to-green-300
     dark:from-green-200 dark:via-green-100 dark:to-green-200 border
      border-gray-50 text-green-900 text-sm font-medium text-center me-2 px-2.5 py-1 rounded-full"
    ><slot />
</span>
