<div
    class="inline-block w-fit rounded-lg border dark:border-white/10
    justify-center items-center py-1 px-2
    text-xs lg:text-base 
    shadow-inner
   dark:bg-white/5 hover:scale-110 hover:bg-white/50 hover:skew-x-3 transition"
    {...Astro.props}
>
    <slot />
</div>
