<div
    class="inline-block relative w-fit rounded-lg border dark:border-white/10 overflow-hidden
    justify-center items-center py-1 px-2
    text-xs lg:text-base 
    shadow-inner bg-gray-300
   dark:bg-white/5 hover:scale-110 hover:bg-white/50"
    {...Astro.props}
>
<div class="w-96 h-4 absolute top-[-60px] left-[-70px] animate-[spin_6s_linear_infinite] bg-[conic-gradient(from_50deg_at_70%_30%,#F0F0F0_0%,#FFFFFF_50%,#F0F0F0_100%)] opacity-40 dark:opacity-5 blur">

</div>
    <slot />
</div>
